.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 3;
}

ul {
    padding: 0;
}

.header:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: aliceblue;
    z-index: 3;
    box-shadow: 0 -5px 13px 7px #000000;

}

.headerBody{
    padding-left: 20px;
    top: 11px;
    position: relative;
    display: flex;
    height: 80px;
}

.headerList{
    top: 15px;
    margin: auto;
    display: flex;
    position: relative;
    z-index: 5;

}

.headerList li{
    list-style: none;
    text-transform: none;


}

.headerList>li{
    margin: 0 0 0 15px;
    padding-bottom: 40px;
}

.headerLink{
    font-size: 12px;
    text-decoration: none;
    color: black;


}

.subHeaderList{
    display: none;
    justify-content: left;
    left: 10%;
    right: 10%;
    background: rgb(245, 244, 241);
    position: fixed;
    top: 80px;
    padding: 15px;
    box-shadow: 2px 9px 14px -4px #000000;
}

.subHeaderList>li{
    padding-left: 15px;
}

.subHeaderLink{
    text-transform: none;
    font-size: 14px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin:0 50px 0 0;

}

.subSubHeaderLink{
    margin:0 50px 0 0;
    text-transform: none;
    font-size: 12px;
    text-decoration: none;
    color: black;

}

.headerList>li:hover
.subHeaderList {
    display: flex;
}

@media (max-width: 1200px) {
    .subHeaderLink{
        margin:0 25px 0 0;
    }

    .subSubHeaderLink{
        margin:0 25px 0 0;
    }
}

@media (max-width: 1000px) {
    .subHeaderList{
        left: 5%;
        right: 5%;
    }

    .subHeaderLink{
        margin:0;
    }

    .subSubHeaderLink{
        margin:0;
    }
}